{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            <label for="id_category" class="form-label">Category</label>
            <select id="id_category" name="category" class="form-select">
                <option value="">--- Select Category ---</option>
                <option value="bee honey">Bee Honey</option>
                <option value="milk">Milk</option>
                <option value="fruits">Fruits</option>
                <option value="vegetables">Vegetables</option>
                <option value="meat">Meat</option>
            </select>
            {% if form.category.errors %}
                <div class="text-danger">
                    {{ form.category.errors|striptags }}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_unit" class="form-label">Unit</label>
            <select id="id_unit" name="unit" class="form-select">
                <option value="">--- Select Unit ---</option>
            </select>
            {% if form.unit.errors %}
                <div class="text-danger">
                    {{ form.unit.errors|striptags }}
                </div>
            {% endif %}
        </div>

        {% for field in form %}
            {% if field.name != 'category' and field.name != 'unit' %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-success w-100">Add Product</button>
    </form>

    <script>
        const categoryToUnits = {
            "bee honey": ["kg", "jar"],
            "milk": ["liter"],
            "fruits": ["kg", "item"],
            "vegetables": ["kg", "item"],
            "meat": ["kg"]
        };


        document.getElementById('id_category').addEventListener('change', function () {
            const category = this.value;
            const unitSelect = document.getElementById('id_unit');
            unitSelect.innerHTML = '';

            if (category in categoryToUnits) {
                categoryToUnits[category].forEach(unit => {
                    const option = document.createElement('option');
                    option.value = unit;
                    option.textContent = unit.replace('_', ' ').toLowerCase();
                    unitSelect.appendChild(option);
                });
            }
        });

    </script>


{% endblock %}
