{% load static %}
{% extends "base.html" %}

{% block title %}Shop Detail{% endblock %}

{% block content %}
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white">Shop Detail</h1>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <img src="{% static 'img/product.jpg' %}" class="img-fluid" alt="Product">
            </div>
            <div class="col-lg-6">
                <h1>Broccoli</h1>
                <p>Fresh and organic broccoli. Perfect for a healthy meal!</p>
                <h3>$3.50</h3>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
